<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
	  <add key="UDF" value="N"/>
	  <add key="sLogPath" value=""/>
    <add key="sjsonPath" value=""/>
    <add key="ExcelDir" value="C:\Attachments"/>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial"/>
  </appSettings>
</configuration>
